.nav-container{
    display: flex;
    align-items: center;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: white;
    justify-content: space-between;
}
.nav-logo-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-name h1{
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin: 0px;
}
.app-name p{
    font-size: 10px;
    color: red;
}
.nav-logo{
    height: 60px;
    width: 70px;
}
@media(max-width: 800px){
    .nav-container{
        padding: 15px 30px;
    }
    
}